<nav class="bg-white border-b border-b-gray-200 dark:bg-[#B28A59]">
    <!-- logo -->
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a class="flex items-center space-x-1 rtl:space-x-reverse">
            <!-- gallexa-logo-dark.svg -->
            <svg width="40" height="40" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="20" y="30" width="80" height="80" rx="10" class="fill-[#B28A59] dark:fill-[#2A2A2A]" />
                <path d="M40 30a20 20 0 0 1 40 0" class="stroke-[#B28A59] dark:stroke-[#2A2A2A]" stroke-width="10"
                    fill="none" />
                <text x="60" y="88" text-anchor="middle" font-size="48" font-family="Georgia, serif"
                    class="fill-[#2A2A2A] dark:fill-white" font-weight="bold">G</text>
            </svg>


            <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">Gallexa</span>
        </a>


        <!-- bar -->
        <div class="flex md:order-2">
            <button data-collapse-toggle="navbar" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden dark:text-white"
                aria-controls="navbar" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>


        <!-- listNav -->
        <div class="hidden w-full md:block md:w-auto ms-auto" id="navbar">
            <ul
                class="font-medium gap-y-4 flex flex-col mt-6 py-3 rounded-lg bg-gray-50 md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:md:bg-transparent md:bg-transparent dark:bg-[#ba966a]  md:shadow-none shadow-md">
                <li>
                    <a href="#" class="block px-3 text-black rounded-sm md:bg-transparent  md:p-0 dark:text-white"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="block px-3 text-black rounded-sm md:border-0  md:p-0 dark:text-white">About</a>
                </li>
                <li>
                    <a href="#"
                        class="block px-3 text-black rounded-sm md:border-0  md:p-0 dark:text-white">Services</a>
                </li>
                <li>
                    <a href="#" class="block px-3 text-black rounded-sm md:border-0  md:p-0 dark:text-white">Pricing</a>
                </li>
                <li>
                    <a href="#" class="block px-3 text-black rounded-sm md:border-0  md:p-0 dark:text-white">Contact</a>
                </li>
                <li class="flex-col md:flex-row">
                    <button type="button"
                        class="relative inline-flex items-center p-2 text-sm font-medium text-center text-black dark:text-white">
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                        <span class="sr-only">Cart</span>
                        <div
                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-400 border-2 border-gray-400 rounded-full -top-4 -end-2 dark:border-gray-900">
                            20</div>
                    </button>
                    <button type="button"
                        class="relative inline-flex items-center p-2 text-sm font-medium text-center text-black dark:text-white">
                        <i class="fa-solid fa-heart fa-xl"></i>
                        <span class="sr-only">Cart</span>
                        <div
                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-600 border-2 border-gray-400 rounded-full -top-4 -end-2 dark:border-gray-900">
                            20</div>
                    </button>

                </li>
                <li>
                    <button type="button" (click)="toggleDarkMode()"
                        class="inline-flex items-center p-2 text-sm font-medium text-center text-black dark:text-white">
                        <i class="fa-solid fa-lg dark:text-white" [class]="isDarkMode ? 'fa-moon' : 'fa-sun'"></i>
                        <span class="sr-only">Cart</span>
                    </button>
                </li>

            </ul>

        </div>
    </div>
</nav>